
<ion-header>

  <!-- <ion-navbar>
    <ion-title>
			<ion-icon name="md-person"></ion-icon>
			待回单信息
			</ion-title>
		
  </ion-navbar> -->
	  <div id="navbar">
			<div>
				<span>待回单信息</span>
				<ion-icon name="md-person" style="float:right" (click)="persentPopovers($event)"></ion-icon>
			</div>
		</div>
		<div id="searchGroup">
			<button (click)="persentPopover($event)"><ion-icon name="ios-search-outline"></ion-icon></button>
			<input type="text" [(ngModel)]="querys"/>
		</div>
</ion-header>

<ion-content>
		<div>
			<ion-list>
    		<ion-item *ngFor="let item of items">
					<div class="list-menu" (click)="enterNext(item.orderUuid)">
						<div class="menu-first">
							<div class="menu-first-icon">
								{{item?.orderStatusStr}}
							</div>
							<div class="detail_conent0 detail_conents">
								<span class="detail detail0">
									{{item?.customerName}}
								</span>
								<span class="detail_cons detail_cons0" *ngIf="item.distance">距逾期剩余{{item?.solveSurplus}}</span>
								<span class="detail_cons detail_cons0" *ngIf="!item.distance">已逾期超出{{item?.solveSurplus}}</span>
								<div class="clear"></div>
							</div>
							<div class="detail_conent0 detail_conents">
								<span class="detail detail0">
									{{item ?.productName}}
								</span>
								<span class="detail_cons detail_cons0">逾期日期:<span>{{item?.solveWarning |date:"yyyy.MM.dd  HH:mm"}}</span></span>
								<div class="clear"></div>
							</div>
						</div>
						
						<div class="menu-sec">
							<ul class="menu-sec-ul-first">
								<li>联系人</li>
								<li>联系电话</li>
								<li class="labels">联系地址</li>
							</ul>
							<ul class="menu-sec-ul-sec">
								<li>{{item?.contactName}}</li>
								<li>{{item?.customerPhone}}</li>
								<li class="labels">{{item?.province + item?.city + item?.county + item?.address}}</li>
								<div class="clear"></div>
							</ul>
						</div>
						
					</div>
				</ion-item>
  		</ion-list>
		  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="items.length>0">
		    <ion-refresher-content></ion-refresher-content>
		  </ion-refresher>
		  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" immediate-check="false" *ngIf="items.length>0">
		   <ion-infinite-scroll-content></ion-infinite-scroll-content>
		 </ion-infinite-scroll>
		</div>
</ion-content>
 
